/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@font-face {
  font-family: "KFGQPC-Uthmanic";
  src: url("/fonts/KFGQPC Uthmanic Script HAFS Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.inputs-grid {
  max-width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1.5rem;
  align-items: center;
}
.inputs-grid label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#start-ayah,
#end-ayah {
  width: 14ch;
}

.error-message {
  min-height: 1.5em;
  color: red;
  font-size: 0.875rem;
  visibility: hidden;
}

.error-message.visible {
  visibility: visible;
}

#quiz-output {
  margin-top: 1rem;
  min-height: 2.5rem;
  max-width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.quran {
  font-family: "KFGQPC-Uthmanic", serif;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
  font-size: 1.4rem;
}
